<!DOCTYPE html>
<html lang="en">
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>
    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/navbar") %>
        <main class="container">
          <div class="landing-section-2">
            <div>
              <p style="text-align: center; font-size: 24px;">Sign in</p>
                <form class="box" action="/auth/login" method="post">
                  <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left">
                      <input class="input" type="text" placeholder="username" name="username" />
                      <span class="icon is-small is-left">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                      <input class="input" type="password" placeholder="password" name="password" />
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                  <input class="button is-success" type="submit" value="Login" />
              </form>
            </div>
          </div>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>