<footer style="text-align: center;">
    Created by Sandeep Nukala <a href="https://github.com/sandeepnukala1/express-mongoose-project-2"><i class="fa fa-github" style="font-size:24px"></i></a> 
    <a href="https://www.linkedin.com/in/sandeep-nukala-028a3214b/"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
</footer>