<nav class="navbar navbar-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://i.imgur.com/7GqyUYo.png" width="150" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/home">
          Home
        </a>
  
        <a class="navbar-item">
          Documentation
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Quick links
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/projects">
              View Projects
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/resources">
              View Resources
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/projects/new">
              Create Project
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/resources/new">
              Create Resource
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/userManagement/new">
              Create Admin
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
              <a class="button is-danger" href="/auth/logout">
                Log Out
              </a>
          </div>
        </div>
      </div>
    </div>
  </nav>