<!DOCTYPE html>
<html lang="en">
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>
    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>
        <main class="container">
            <div class="landing-section-2">
                <div>
                    <span class="icon-text">
                        <span class="icon is-large">
                          <a href="/userManagement"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i></a>
                        </span>
                        <span>Create admin form</span>
                      </span>
                    <form class="form box" action="/userManagement/new" method="post">
                    <label class="label">User Name:</label>
                    <input class="input" type="text" placeholder="username" name="username" />
                    <label class="label">Password:</label>
                    <input class="input" type="password" placeholder="password" name="password" />
                    <label class="label">Role:</label>
                    <input class="input" type="text" placeholder="role" name="role" value="Admin" disabled/>
                    <label class="label">Resource Manager:</label>
                    <input class="input" type="text" placeholder="resource manager" name="resourceManager" />
                    <label class="label">Capacity:</label>
                    <input class="input" type="number" placeholder="capacity" name="capacity" />
                    <label class="label">Resource Type:</label>
                    <input class="input" type="text" placeholder="resource type" name="resourceType" />
                    <label class="label">Cost:</label>
                    <input class="input" type="number" placeholder="cost" name="cost" />
                    <input class="button is-link is-outlined" type="submit" value="Sign Up" />
                    </form>
                </div>
            </div>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>