<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      
      <a class="button" href="userManagement/new"><button>Create Admin!</button></a>
      <% for(r of adminUsers) { %>
        <div>
          <div><%= r.username %></div>
        </div>
      <% } %>
      
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>