<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      <div class="float-right">
        <a href="/auth/logout"><button class="button is-danger">Logout</button></a>
      </div>
      Create Resource here!
      <form action="/resources/new" method="post">
        <input class="input" type="text" placeholder="username" name="username" />
        <input class="input" type="password" placeholder="password" name="password" />
        <input class="input" type="text" placeholder="role" name="role" />
        <input class="input" type="text" placeholder="resource manager" name="resourceManager" />
        <input class="input" type="number" placeholder="capacity" name="capacity" />
        <input class="input" type="text" placeholder="resource type" name="resourceType" />
        <input class="input" type="number" placeholder="cost" name="cost" />
        <input class="button" type="submit" value="Create Resource" />
    </form>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>