<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <div class="center-align">
                <div>
                  <h2 class="title">Login or signup here!!</h2>
                  <a href="/auth/signup"><button class="button is-link is-outlined">SIGNUP</button></a>
                  <a href="/auth/login"><button class="button is-success is-outlined">LOGIN</button></a>
                </div>
            </div>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>