<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>


        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>