<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      
     
      <a href="/projects">View Projects</a>
      <a href="/resources">View Resources</a>
      <a href="/projects/new">Create Project</a>
      <a href="/resources/new">Create Resource</a>
      <a href="/userManagement">User Management</a>
      
      
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>