<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      <div class="float-right">
        <a href="/auth/logout"><button class="button is-danger">Logout</button></a>
      </div>
     
      <a href="/projects">View Projects</a>
      <a href="/resources">View Resources</a>
      <a href="/projects/new">Create Project</a>
      <% if(user.role === 'Admin') { %>
      <a href="/resources/new">Create Resource</a>
      <% } %>
      <% if(user.role === 'Admin') { %>
        <a href="/userManagement">User Management</a>
      <% } %>
      
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>