<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/navbar") %>
        <main>
            <div class="info-section">
                <section class="hero-main hero">
                  <div class="hero-body">
                    <div class="container">
                        <div class="columns">
                            <div class="column is-two-fifths">
                                <h1 style="font-size: 200%; font-style: italic;">PROformance</h1>
                                <p>"PRO" stands for project and resource optimization. "PRO"formance <br>
                                is an integrated tool for project and resource management. Our goal <br>
                                is to provide project managers an efficient and dynamic solution for <br>
                                planning project timelines and resource capacity.</p> 
                            </div>
                            <div class="column mac-screenshots">
                                <img class="box" src="https://i.imgur.com/yH954oo.png" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
                </section>
                <section class="section">
                  <div class="container">
                      <div class="columns is-centered">
                        <div class="column has-text-centered">
                            <h2 style="font-size: 200%; font-style: italic;">Features</h2>
                            <p>Total control of projects and resources</p>
                        </div>
                      </div>   
                  </div>
                </section>
                <section class="section">
                    <div class="container">
                        <div class="columns">
                          <div class="column is-one-third">
                              <h2 style="font-size: 200%; font-style: italic; margin-top: 32px;">Resource View</h2>
                              <p>Table view of all resources created by admins <br>
                                Edit and delete operations available only for admin users.</p>
                          </div>
                          <div class="column">
                              <img src="https://i.imgur.com/29He4vq.png" alt="">
                          </div>
                        </div>   
                    </div>
                  </section>
                  <section class="section">
                    <div class="container">
                        <div class="columns">
                            <div class="column">
                                <img src="https://i.imgur.com/3qZEmXz.png" alt="">
                            </div>
                            <div class="column is-one-third">
                                <h2 style="font-size: 200%; font-style: italic; margin-top: 32px;">Resource Allocation View</h2>
                                <p>A view for showing resources allocated under a project. <br>
                                     It also gives an option to select an existing project <br>
                                     and assign it to the resource.</p>
                            </div>
                        </div>   
                    </div>
                  </section>
            </div>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>