main { 
  min-height: 85vh;
}

.w-nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ebeaeb;
}

.push-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-section {
  background: #444f60;
  color: #fff;
}

.section-2 {
    padding-top: 80px;
    padding-bottom: 20px;
    background-image: url(https://uploads-ssl.webflow.com/5aa7d15…/5edf597…_BG%20-%20Header.svg);
    background-position: 0 0;
    background-size: cover;
}

.landing-section-2 {
    padding-top: 120px;
    padding-bottom: 20px;
    background-image: url(https://uploads-ssl.webflow.com/5aa7d15…/5edf597…_BG%20-%20Header.svg);
    background-position: 0 0;
    background-size: cover;
}

.info-section {
  padding-top: 89px;
  padding-bottom: 20px;
  background-image: url(https://uploads-ssl.webflow.com/5aa7d15…/5edf597…_BG%20-%20Header.svg);
  background-position: 0 0;
  background-size: cover;
}

.navbar-item {
  padding: 1.5rem 0.75rem;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 0;
  border: 1px solid transparent;
}

.tile.is-parent {
  padding: 1.75rem;
}

.tile {
  transition: transform 250ms;
}

.tile:hover {
  transform: translateY(5px);
}

#tab-content p {
  display: none;
}

#tab-content p.is-active {
  display: block;
}

.hero.hero-main {
  background-color: #E1F5C4  ;
  color: #1b1b1b;
}