<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      <div class="landing-section-2">
        <span class="icon-text">
          <span class="icon is-large">
            <a href="/home"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i></a>
          </span>
          <span>Create project form</span>
        </span>

      <form class="form box" action="/projects/new" method="post">
          <label class="label">Project Name:</label>  
          <input class="input" type="text" name="projectName">
          <label class="label">Start Date:</label> 
          <input class="input" type="date" name="startDate">
          <label class="label">End Date:</label> 
          <input class="input" type="date" name="endDate">
          <label class="label">Notes:</label>
          <input class="input" type="text" name="notes">
          <label class="label">Project Manager:</label> 
          <input class="input" type="text" name="projectManager">
          <input class="button" type="submit" value="Create Project" />
      </form>
    </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>