<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      <div class="float-right">
        <a href="/auth/logout"><button class="button is-danger">Logout</button></a>
      </div>
      Create Project here!
      <form action="/projects/new" method="post">
          ProjectName: <input type="text" name="projectName">
          Start Date: <input type="date" name="startDate">
          End Date: <input type="date" name="endDate">
          Notes: <input type="text" name="notes">
          Project Manager: <input type="text" name="projectManager">
          <input class="button" type="submit" value="Create Project" />
      </form>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>